<div class="row">
  <section class="main col-md-12">
    <article>
      <h2>About</h2>
      <p>
        The web application is a tool for managing information about the
        different departments and employees in an organization. It allows users
        to create, read, update, and delete records for both departments and
        employees.
      </p>

      <p>
        The application uses MongoDB to store the information about departments
        and employees, and uses Handlebars templates to render the user
        interface in the web browser.
      </p>
      <p>
        In addition to using MongoDB, the web application also uses PostgreSQL
        to store information about user accounts and login history. This allows
        the application to provide features such as user authentication and
        login tracking, which help to ensure the security and accountability of
        the system. PostgreSQL is a popular and powerful relational database
        management system, and it provides a reliable and efficient way to store
        and manage this important data.
      </p>
      <p>
        One of the key features of the web application is that it allows users
        to create an account, which allows them to access additional features
        such as the ability to add images to their records and view their login
        history. This makes the application more personalized and user-friendly.
      </p>

      <p>
        The application follows RESTful API design principles, which means that
        it exposes a set of endpoints that allow users to perform CRUD (create,
        read, update, delete) operations on department and employee records.
        This makes the application easy to use and allows it to be easily
        integrated with other systems.
      </p>

      <p>
        Overall, the web application provides a simple and intuitive way for
        organizations to manage information about their departments and
        employees. It uses MongoDB and Handlebars to ensure that the data is
        stored and accessed efficiently, and provides a user-friendly interface
        for working with that data. Users can create an account to access
        additional features and personalize their experience.
      </p>
    </article>
  </section>
</div>